/* COMMON */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('../assets/css/KoPubDotum.css');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.section--vision .tiles .inner {
    max-width: 980px;
    margin: 10px auto;
    position: relative;
    box-sizing: border-box;
}


.summary {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.summary__title {
    color: #313171;
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-top: solid 5px #F5A919;
    width: 250px;
}

.summary__content {
    text-align: center;
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    margin-top: 40px;
    max-width: 890px;
    padding: 0 20px;
}



/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/* HEADER */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
    align-items: center;
    display: flex;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav .logo img {
    width: 80%;
}

.nav-menu {
    flex-direction: row;
    display: flex;
}

.nav-menu li {
    position: relative;
    padding: 0 0.3rem;
}

.nav-menu li a {
    position: relative;
    display: block;
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    color: #777070;
}

.nav-menu li a:hover {
    color: #ff5420;
}

.choose-lang {
    display: flex;
    justify-content: center;
}

.lang-list {
    position: absolute;
    flex-direction: column;
    padding: 20px 0;
    border: solid 1px #ced3d6;
    border-radius: 5px;
    width: 100px;
    margin: 42px 1px;
    background: #fff;
    display: none;
}

.show-flex {
    display: flex;
}

.lang-list a {
    color: #6b6b6b;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}


.lang-list .lang:hover {
    background: rgba(0, 0, 0, 0.07);
}

/* BTN */


.scrolltop {
    position: fixed;
    opacity: 0;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    color: #313171;
}

.scrolltop img {
    width: 60px;
}

.show {
    opacity: 1;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 34px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #6b6b6b;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    text-align: center;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.header-btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.07);
}

.header-btn.btn--primary {
    color: #fff;
    background: #ff8510;
}


#toggle-btn {
    display: none;
    background: url(../img-src/toggle-btn.svg);
    width: 18px;
    height: 24px;
    position: absolute;
    right: 40px;
    cursor: pointer;
    text-indent: -9999px;
}

/* INTRO */

.backcover {
    widows: 100%;
    background-color: #000;
}

.section--intro {
    background: url(../img-src/intro_background.png);
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.intro-box img {
    width: 60%;
}

.intro-text {
    width: 1063px;
    height: 62px;
    color: #fff;
    font-family: BM DoHyeon;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 60px;
    text-align: center;
    text-shadow:
        -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-top: 20px;
}

.intro-subs {
    width: 232.06px;
    height: 70.42px;
    background: #FF8510;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6998px;
    line-height: 38px;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: none;
}



/* ABOUT */

.section--feature {
    background: #fff;
    position: relative;
}

.about-img img {
    margin-top: 75px;
    margin-top: 75px;
    max-width: 760px;
}




/* SERVICE */

.section--service {
    display: flex;
    padding-top: 110px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FF9852 0%, #FFFBF0 81.25%);
}

.mypool-logo img {
    width: 499px;
    height: 114px;
}

.mypool-text {
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 83.5%;
}

.mypool-details {
    width: 190px;
    background: #313171;
    border-radius: 18.9165px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6998px;
    line-height: 38px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px;
    margin: 30px;
    position: relative;
}

.appBtn-group button {
    border: none;
    background: none;
    margin: 20px;
}

.appBtn-group img {
    width: 230px;
    height: 65px;
}

.app img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.app img:hover {
    transform: scale(1.1);
}

.swiper-container-appslide {
    max-width: 1024px;
    height: 100%;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: none;
}



/* ECOSYSTEM */

.section--ecosystem {
    background-color: #FFFBF0;
    position: relative;
    height: 100%;

}

.section--ecosystem .summary__content h3 {
    display: inline-block;
    color: #ee752e;
    font-weight: bold;
}

.minerva-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #ED7D31;
    margin-top: 75px;
}

.minerva-arch {
    position: relative;
    margin: 30px 0;
}

.minerva-text ul {
    display: flex;
    justify-content: center;
    position: relative;
}

.minerva-text ul li {
    display: flex;
    margin: 0 10px;
}

.minerva-text .number {
    background: #ED7D31;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.minerva-text .texts {
    text-align: left;
    margin-left: 15px;
}

.minerva-text .texts h2 {
    font-family: 'KoPub Dotum';
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    color: #313171;
}

.minerva-text .texts p {
    font-family: 'KoPub Dotum';
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
}


/* TOKEN */

.section--token {
    background: #FFFBF0;
}

.section--token .summary {
    max-width: 820px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.details-group {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.chartBox {
    transition: all 1s;
    width: 680px;
}

#chartdiv {
    width: 100%;
    height: 450px;
}

.hiddenbox {
    background-color: #FFFBF0;
    height: 40px;
    position: relative;
    top: -70px;
}

.section-token-distribution {
    width: 20vw;
    padding-left: 100px;
}

.token-details {
    position: relative;
    min-height: 1px;
}

.section-token-distribution .distribution-barchart {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-token-distribution .distribution-barchart .chart-lable {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #313171
}

.section-token-distribution .distribution-barchart .chart-amount {
    color: #bababa;
    float: right;
}

.section-token-distribution .token-details .distribution-barchart .chart-bar {
    margin-top: 6px;
    height: 14px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.section-token-distribution .token-details .distribution-barchart .chart-bar:before {
    display: inline-block;
    content: '';
    height: 100%;
    border-radius: 10px;
    vertical-align: top;
}

.section-token-distribution .distribution-barchart.barchart-token-generation .chart-bar:before {
    background-color: #7D2C16;
    width: 35%;
}

.section-token-distribution .distribution-barchart.barchart-Ecosystem .chart-bar:before {
    background-color: #FF7016;
    width: 20%;
}

.section-token-distribution .distribution-barchart.barchart-Marketing .chart-bar:before {
    background-color: #FF7E12;
    width: 10%;
}

.section-token-distribution .distribution-barchart.barchart-Reserve .chart-bar:before {
    background-color: #FF8C0D;
    width: 7%;
}

.section-token-distribution .distribution-barchart.barchart-Partner .chart-bar:before {
    background-color: #FF9A09;
    width: 8%;
}

.section-token-distribution .distribution-barchart.barchart-Adviser .chart-bar:before {
    background-color: #FFA804;
    width: 3%;
}

.section-token-distribution .distribution-barchart.barchart-Team .chart-bar:before {
    background-color: #FFB600;
    width: 17%;
}




/* ROADMAP */



.section--roadmap {
    background: linear-gradient(270deg, #ED7D31 8.36%, #FCAC15 49.95%, #ED7D31 90.54%);
}

.section--roadmap .summary {
    max-width: 820px;
    margin-bottom: 100px;
    text-align: center;
}

.section--roadmap .summary__title {
    border-top: solid 5px #fff;
}


.roadmap-wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.roadmap-list {
    display: flex;
}

.roadmap-wrapper h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #FFF1AF;
}

.left-group {
    width: 50%;
}

.right-group {
    width: 50%;
}

.roadmap-left {
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 100px;
}

.roadmap-right {
    border-left: 1px solid white;
    width: 50%;
    text-align: left;
    float: left;
    padding-left: 100px;
    height: 250px;
}

.roadmap-left span {
    color: #fff;
    margin-left: 20px;
    font-size: 43px;
    font-weight: 700;
}

.roadmap-left .roadmap-circle {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    float: right;
    right: -118px;
    background: linear-gradient(122.74deg, #B960C8 25.18%, #ADA2F4 75.36%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.roadmap-right .roadmap-circle {
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #1977B7;
    float: left;
    left: -15px;
    top: 40px;
    position: relative;
}

.text-group {
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    width: 400px;
    margin: 10px 0;
}

.lastroadmap .roadmap-circle {
    background: linear-gradient(122.74deg, #F58319 25.18%, #EA5528 75.36%);
}

.roadmap-right.lastroadmap {
    border: none;
}

.lastroadmap h2 {
    font-size: 45px;
}



/* TEAM & ADVISER */


.content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10px;
}

.content-box img {
    width: 190px;
}

.content-box li {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box li img {
    display: block;
    margin-bottom: 25px;
    width: 190px;
}

.content-box li strong {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #313171;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    font-weight: bold;
}

.content-box li p {
    line-height: 22px;
    color: #3f3f3f;
    font-weight: 700;
    font-size: 14px;
}

.section-team {
    overflow: hidden;
}

.team-box {
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
}

.team-box .summary {
    margin-bottom: 80px;
}

.team-box>strong {
    font-size: 50px;
    color: #ff541f;
    text-align: center;
    margin-bottom: 61px;
    display: block;
    font-weight: 200;
}

.team-box>strong>b {
    font-weight: 700;
    color: #ff541f;
}




/* PARTNER */

.section--partner {
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0) 100%);
}

.section--partner .summary {
    padding-top: 100px;
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.partner-logos img {
    margin: 20px;
}



/* NEWS SWIPTER */

.section--news .summary {
    padding: 100px 0 50px 0;
}

.swiper-container {
    max-width: 1024px;
    height: 100%;
    margin: 50px 10px 50px;
}

.swiper-wrapper {
    margin-bottom: 150px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.newsslide img {
    width: 400px;
    height: 300px;
}

.swiper-slide p {
    width: 400px;
    font-family: 'KoPub Dotum';
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    padding-top: 10px;
}


.swiper-button-next {
    right: 0px;
    color: #787878;
    top: 150px;
}

.swiper-button-prev {
    left: 0px;
    color: #787878;
    top: 150px;
}

.pagination-hidden {
    display: none;
}


/* FOOTER */

.footer-box {
    background: #F7F7F7;
    height: 140px;
    padding-top: 70px;
}

.footer-box-inner {
    max-width: 1024px;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.footer-right {
    display: flex;
    float: right;
}

.footer-left {
    float: left;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.footer-list.footer-logo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer-logo img {
    width: 320px;
}

.footer-list h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #777777;
    margin-bottom: 10px;
}


.footer-list li a {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    color: #929292;
}

.footer-list li img {
    width: 40px;
    margin: 0 10px;
}

.footer-list li {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #929292;
}

.footer-list p {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #B5B5B6;
    margin-top: 12px;
    padding-left: 10px;
}

.footer-community ul {
    display: flex;
    margin-top: 10px;
}