/* HEADER */

#toggle-btn {
    right: 10px;
}

.choose-lang {
    right: 40px;
}


/* ECOSYSTEM */

.minerva-text .texts div {
    width: 60vw;
}



/* TOKEN */


.chartBox {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#chartdiv {
    width: 100vw;
    height: 400px;
}


/* TEAM */

.content-box li {
    width: 100%;
}

.text-group {
    max-width: 100%;
}

.right-group {
    width: 70%;
}


/* ROADMAP */

.roadmap-list {
    margin-left: 10%;
}



/* NEWS */


.swiper-container {
    width: 90vw;
}

.newsslide img {
    width: 90vw;
    height: calc(90vw * 0.8);
}

.swiper-slide div {
    width: 90vw;
}



/* BTN */

.scrolltop {
    bottom: 15px;
    right: 15px;
}