/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* COMMON */

.br-show {
    display: block;
}


/* HEADER */

.header-nav .logo {
    padding-left: 5px;
}

.header-btn.lang {
    width: 70px;
}

.lang-list {
    width: 70px;
    right: 83px;
}

.nav-menu li a {
    font-size: 18px;
}

.header-btn.btn--primary {
    font-size: 18px;
}



/* INTRO */


.section--intro {
    height: 600px;
}

.intro-box img {
    width: 80vw;
}

.about-img img {
    max-width: 85vw;
}



/* SERVICE */

.mypool-logo img {
    width: 360px;
}

.appBtn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.appBtn-group button {
    margin: 0;
}

.swiper-container-appslide img {
    height: 600px;
}

.swiper-container-appslide .swiper-pagination {
    left: -15px;
}



/* ECOSYSTEM */

.minerva-arch img {
    width: 95vw;
}

.minerva-text ul li {
    margin: 0;
}


.minerva-text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.minerva-text ul li {
    margin: 20px auto;
    width: 330px;
}

.minerva-text .texts h2 {
    font-size: 23px;
}

.minerva-text .texts p {
    font-size: 21px;
    line-height: 30px;
}



/* ROADMAP */

.left-group {
    width: 20%;
}

.roadmap-left {
    width: 10%;
    padding-right: 80px;
}

.roadmap-wrapper h2 {
    font-size: 25px;
}

.roadmap-left span {
    font-size: 35px;
}

.roadmap-left .roadmap-circle {
    top: -60px;
    right: -92px;
    width: 24px;
    height: 24px;
}

.roadmap-left.lastroadmap {
    width: 10%;
}

.lastroadmap .roadmap-circle {
    top: -25px !important;
}

.lastroadmap p {
    top: -10px;
    position: relative;
}

.text-group {
    font-size: 18px;
}



/* TEAM */

.content-box li {
    margin: 0 0 80px;
    width: 50%;

}

.partner-logos img {
    width: 30vw;
}



/* NEWS */

.swiper-container {
    max-width: 480px;
}

.newsslide img {
    width: 380px;
}

.swiper-slide p {
    max-width: 380px;
}



/* FOOTER */

.footer-box {
    height: 100%;
    padding: 30px 0;
}

.footer-box-inner {
    display: block;
}

.footer-right {
    display: block;
    float: none;
}

.footer-left {
    float: none;
}

.footer-list {
    margin: 40px 10px;
}



/* BTN */

.scrolltop {
    bottom: 15px;
    right: 15px;
}