/* HEADER */

#toggle-btn {
    right: 10px;
}

.choose-lang {
    right: 40px;
}


/* TOKEN */


.chartBox {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#chartdiv {
    width: 100vw;
    height: 400px;
}


/* TEAM */

.content-box li {
    width: 100%;
}

.text-group {
    max-width: 100%;
}

.right-group {
    width: 70%;
}

.roadmap-list {
    margin-left: 10%;
}


/* BTN */

.scrolltop {
    bottom: 15px;
    right: 15px;
}