/* COMMON */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('../assets/css/KoPubDotum.css');

html {
    scroll-behavior: smooth;
}

.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.section--vision .tiles .inner {
    max-width: 980px;
    margin: 10px auto;
    position: relative;
    box-sizing: border-box;
}


.summary {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.summary__title {
    color: #313171;
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-top: solid 5px #F5A919;
    width: 250px;
}

.summary__content {
    text-align: center;
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 83.5%;
    margin-top: 30px;
}



/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    text-indent: -9999px;
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
    align-items: center;
    display: flex;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header .logo a {
    background: url("../img-src/metis_logo_small.svg");
    width: 200px;
    height: 65px;
    display: block;
    text-indent: -9999px;
}

.nav-menu {
    flex-direction: row;
    display: flex;
}

.nav-menu li {
    position: relative;
    padding: 0 0.3rem;
}

.nav-menu li a {
    position: relative;
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    color: #777070;
}

.nav-menu li a:hover {
    color: #ff5420;
}

.header-nav .btn-group {
    display: flex;
}

/* BTN */
.btn {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 18.9165px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #6b6b6b;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    text-align: center;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    box-sizing: border-box;
    position: relative;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18.9165px;
    background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
    color: #fff;
    background: #ff8510;
}

.btn.lang {
    padding: 0 0 0 10px;
}

.nation {
    display: inline-block;
    margin-right: 7px;
    width: 20%;
}

.arrow {
    margin-left: 7px;
    width: 15%;
}

/* INTRO */

.section--intro {
    background: url("../img-src/title_background.png");
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 986.78px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.intro-img {
    background: url("../img-src/intro_logo.svg");
    width: 842px;
    height: 242px;
    display: block;
}

.intro-text {
    width: 1063px;
    height: 62px;
    color: #fff;
    font-family: BM DoHyeon;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 60px;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-top: 20px;
}

.intro-subs {
    width: 232.06px;
    height: 70.42px;
    background: #FF8510;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6998px;
    line-height: 38px;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: none;
}

/* FEATURE */
.section--feature {
    background: #fff;
    position: relative;
    padding-top: 110px;
}

.about-img {
    width: 798px;
    height: 568px;
    margin-top: 75px;
}


/* Service */

.section--service {
    display: flex;
    padding-top: 110px;
    flex-direction: column;
    align-items: center;
    height: 1085px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FF9852 0%, #FFFBF0 81.25%);
}

.mypool-logo {
    width: 499px;
    height: 114px;
    margin-bottom: 30px;
}

.mypool-text {
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 83.5%;
}

.mypool-details {
    width: 190px;
    background: #313171;
    border-radius: 18.9165px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6998px;
    line-height: 38px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px;
    margin-bottom: 30px;
}

.appBtn-group button {
    border: none;
    margin: 20px;
}

.appBtn-group img {}

/* VISION */

.section--vision {
    transform: translateY(-10px);
    padding-top: 20px;
    background-color: #ee752e;
}

.section--vision .tiles {
    min-height: 550px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.section--vision .tiles .inner {
    max-width: 1200px;
}

.section--vision .tiles .inner ul {
    text-align: center;
}

.section--vision .tiles li {
    width: 30%;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline-block;
}

.vision-icon {
    width: 70px;
    height: 60px;
    margin-bottom: 10px;
}

.vision-text {
    display: flex;
    flex-direction: column;
}

.vision-tile-wrap {
    margin: 10px 10%;
    height: 250px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.vision-tile-wrap h2 {
    color: #ff531f;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.vision-tile-wrap p {
    color: #767676;
    margin-bottom: 10px;
}


/* TOKEN */

.section--token .summary {
    max-width: 820px;
    margin: 100px auto;
    text-align: center;
}

.details-group {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.chartBox {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.token-details {
    border: 3px solid #333;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 380px;
    font-size: 23px;
    font-weight: 700;
    margin-left: 20px;
}

.token-details h2 {
    margin: 10px;
}


.apexcharts-tooltip-series-group {
    background-color: #fff !important;
    color: #333;
}



/* ROADMAP */


.section--roadmap {
    background: #1977B7;
    padding-top: 66px;
}

.section--roadmap .summary {
    max-width: 820px;
    margin: 20px auto;
    text-align: center;
}


.roadmap-wrapper {
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}

.roadmap-wrapper h2 {
    color: #FEC633;
    font-size: 30px;
    font-weight: 700;
}

.left-group {
    width: 50%;
}

.right-group {
    width: 50%;
}

.roadmap-left {
    border-right: 1px dashed white;
    width: 50%;
    text-align: right;
    float: right;
}

.roadmap-right {
    border-left: 1px dashed white;
    width: 50%;
    text-align: left;
    float: left;
}

.roadmap-left .roadmap-circle {
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #1977B7;
    float: right;
    right: -15px;
    top: -10px;
    position: relative;
}

.roadmap-right .roadmap-circle {
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #1977B7;
    float: left;
    left: -15px;
    top: 40px;
    position: relative;
}

.text-group {
    margin: 22px;
    color: #fff;
    font-size: 20px;
}

/* MEMBER */


.content_box {
    width: 1024px;
    margin: auto;
}

.pr_list_box {
    overflow: hidden;
}

.pr_bp {
    padding-bottom: 26px;
}

.list_rl_m {
    margin-left: 90px;
    margin-right: 100px;
}

.pr_list_box li {
    width: 250px;
    float: left;
    margin-bottom: 80px;
}

.pr_list_box li img {
    display: block;
    margin-bottom: 25px;
}

.pr_list_box li strong {
    font-size: 27px;
    color: #1976b6;
    margin-bottom: 8px;
    text-align: center;
    display: block;
    font-weight: bold;
}

.pr_list_box li b {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 55px;
    text-align: center;
    line-height: 24px;
}

.pr_list_box li p {
    line-height: 24px;
    color: #3f3f3f;
    text-align: center;
    font-size: 14px;
}

.con06 {
    overflow: hidden;
}

.st15_box {
    overflow: hidden;
    background: #fafafa;
}

.st15_box>strong {
    font-size: 50px;
    color: #ff541f;
    text-align: center;
    margin-bottom: 61px;
    display: block;
    font-weight: 200;
}

.st15_box>strong>b {
    font-weight: 700;
    color: #ff541f;
}

.st15_box>i {
    display: block;
    margin: auto;
    width: 38px;
    height: 7px;
    border-radius: 3px;
    background: #ff541f;
    margin-bottom: 20px;
    margin-top: 118px;
}



/* PARTNER */

.section--partner {
    width: 100%;
    height: 400px;
    background: #FFFBF0;
}

.section--partner .summary {
    padding-top: 100px;
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logos img {
    margin: 20px;
}



/* NEWS SWIPTER */

.section--news .summary {
    padding: 100px 0 50px 0;
}

.swiper-container {
    max-width: 1024px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 400px;
}

.swiper-slide p {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    padding-top: 10px;
}


.swiper-button-next {
    right: 0px;
    color: #787878;
}

.swiper-button-prev {
    left: 0px;
    color: #787878;
}


/* FOOTER */

.footer_box {
    background: #ff541f;
    overflow: hidden;
    height: 346px;
}

.footer_lnb_box {
    text-align: center;
    display: block;
    border-bottom: solid 1px #f4a086;
}

.footer_lnb_box ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom: 1;
    *display: inline;
}

.footer_lnb_box li {
    float: left;
    margin: 40px 9px;
}

.footer_lnb_box li a {
    color: #fff;
    font-size: 16px;
}

.clear {
    clear: both;
    *zoom: 1;
}

.footer_logo {
    display: block;
    width: 253px;
    height: 73px;
    margin: auto;
    margin-top: 61px;
}