/* HEADER */


header .toggle {
    visibility: hidden;
}

header .toggle.on {
    display: -webkit-box;
    display: -ms-flexbox;
    visibility: visible;
}

#toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-nav {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-nav .logo {
    padding-left: 30px;
}

.nav-menu {
    background: #fff;
    width: 100vw;
    text-align: center;
    position: absolute;
}

.nav-menu li {
    padding: 0.5rem 0;
}

.nav-menu li:hover {
    background-color: rgba(237, 124, 15, 0.3)
}

.nav-menu li a {
    font-weight: 300;
    width: 100vw;
    padding: 0;
}

.nav-menu li a:hover {
    font-weight: 500;
    color: #777070;
}

.choose-lang {
    position: absolute;
    right: 80px;
    top: 15px;
}

.header-btn.btn--primary {
    color: #fff;
    background: #ff8510;

    width: 70%;
    margin-bottom: 1rem;
}



/* INTRO */

.intro-text {
    font-size: 6vw;
}


/* SERVICE */

.app {
    display: none;
}

.swiper-container-appslide {
    display: block;
    margin-bottom: 50px;
    left: 20px;
}

.swiper-container-appslide .swiper-wrapper {
    margin-bottom: 0;
}

.swiper-container-appslide .swiper-slide {
    background: transparent;
}

.appBtn-group button {
    margin: 10px;
}

.appBtn-group img {
    width: 200px;
    height: 65px;
}

.swiper-container-appslide img {
    height: 890px;
}

.swiper-pagination {
    left: -20px;
}



/* ECOSYSTEM */

.minerva-arch img {
    width: 768px;
}


/* TOKEN */

.details-group {
    max-width: 1024px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-token-distribution {
    width: 70vw;
    padding: 20px 0;
    margin: 0 auto;
}

.hiddenbox {
    top: -530px;
}



/* ROADMAP */

.left-group {
    width: 35%;
}

.roadmap-left .roadmap-circle {
    top: -45px;
}

.roadmap-right {
    padding-left: 50px;
}

.roadmap-left.lastroadmap {
    width: 35%;
}

.roadmap-list.last-list {
    position: relative;
}

.roadmap-right.lastroadmap {
    border-left: 1px solid white;
    height: 20px;
    margin-bottom: 100px;
}



/* TEAM */




/* PARTNER */

.partner-logos {
    flex-wrap: wrap;
}

.partner-logos img {
    margin: 0 5%;
}



/* NEWS */

.button-hidden {
    display: none;
}

.pagination-hidden {
    display: block;
}

.swiper-wrapper {
    margin-bottom: 150px;
}

.swiper-wrapper {
    margin-bottom: 80px;
}

.swiper-container {
    max-width: 768px;
}

.newsslide img {
    width: 450px;
}

.swiper-slide p {
    width: 430px;
}



/* FOOTER */

.footer-list {
    margin: 0 10px;
}

.footer-list li img {
    width: 30px;
    margin: 0 5px;
}

.footer-list.footer-logo {
    margin-left: 10px;
}

.footer-logo img {
    width: 250px;
}

.footer-list p {
    font-size: 12px;
}