.header-nav .logo {
    padding-left: 5px;
}

.header-btn.lang {
    width: 70px;
}

.lang-list {
    width: 70px;
    right: 83px;
}

.nav-menu li a {
    font-size: 18px;
}

.header-btn.btn--primary {
    font-size: 18px;
}

.section--intro {
    height: 600px;
}

.intro-box img {
    width: 80vw;
}

.about-img img {
    max-width: 85vw;
}


.mypool-logo img {
    width: 360px;
}

.appBtn-group {
    display: flex;
    flex-direction: column;
}

.appBtn-group button {
    margin: 0;
}

.swiper-container-appslide img {
    height: 600px;
}

.swiper-container-appslide .swiper-pagination {
    left: -15px;
}

.minerva-arch img {
    width: 95vw;
}

.minerva-text ul li {
    margin: 0;
}


.left-group {
    width: 20%;
}

.roadmap-left {
    width: 10%;
    padding-right: 80px;
}

.roadmap-wrapper h2 {
    font-size: 25px;
}

.roadmap-left span {
    font-size: 35px;
}

.roadmap-left .roadmap-circle {
    top: -60px;
    right: -92px;
    width: 24px;
    height: 24px;
}

.roadmap-left.lastroadmap {
    width: 10%;
}

.lastroadmap .roadmap-circle {
    top: -25px !important;
}

.lastroadmap p {
    top: -10px;
    position: relative;
}

.text-group {
    font-size: 18px;
}

.content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-box li {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-logos img {
    width: 35vw;
}

.swiper-container {
    max-width: 480px;
}

.newsslide img {
    width: 380px;
}

.swiper-slide p {
    max-width: 380px;
}


.footer-box {
    height: 100%;
    padding: 30px 0;
}

.footer-box-inner {
    display: block;
}

.footer-right {
    display: block;
    float: none;
}

.footer-left {
    float: none;
}

.footer-list {
    margin: 40px 10px;
}

.scrolltop {
    bottom: 15px;
    right: 15px;
}